.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(148, 138, 254);
}

.task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.task-list-header {
  margin-bottom: 20px;
  text-align: center;
}

.task-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.task-form input[type="text"] {
  flex: 1;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.task-form button {
  flex-basis: auto;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-form button:hover {
  background-color: #45a049;
}

.task-list {
  width: 100%;
  border-collapse: collapse;
}

.task-list th,
.task-list td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.task-list th {
  background-color: #f2f2f2;
}

.task-list th:nth-child(1),
.task-list td:nth-child(1) {
  width: 180px;
  max-width: 180px;
  white-space: normal;
  word-wrap: break-word;
}

.task-list th:nth-child(2),
.task-list td:nth-child(2) {
  width: 150px;
}

.task-list th:nth-child(3),
.task-list td:nth-child(3) {
  width: 100px;
}

.task-list button {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-list button:hover {
  background-color: #d32f2f;
}

@media only screen and (max-width: 768px) {
  .task-list-container {
    width: 80%;
  }

  .task-list th:nth-child(1),
  .task-list td:nth-child(1) {
    width: auto;
    max-width: none;
  }

  .task-list th:nth-child(2),
  .task-list td:nth-child(2) {
    width: 120px;
  }

  .task-list th:nth-child(3),
  .task-list td:nth-child(3) {
    width: 80px;
  }
}
