.item {
padding-top: 5px;
padding-bottom: 5px;
width: 100%;
}

.completed {
  text-transform: capitalize;
  font-weight: bold;
  color: green;
}

.notCompleted {
  text-transform: capitalize;
  font-weight: bold;
  color: red;
}